
@import "mixins.scss";

.services
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 5% 0 5%;
}

.service-card1
{
  text-align: center;
  border-radius: 5%;
  padding: 10%;
  margin: 5% 0 5% 0;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  position:relative;
  width: 100%;
  border: 1px solid grey;
  align-items: center;
  i
  {
    background-color: grey;
    border-radius: 100%;
  }
}

.service-card1:hover
{
  transform: translateY(10px);
  background-color: grey;
  color:white;

  .read-more1, i 
  {
    background-color: white;
    color:grey
  }
}
// ------------------------------------------------------------------------------------------------------------------------------
.service-card2
{
 
  text-align: center;
  border-radius: 5%;
  padding: 10%;
  margin: 5% 0 5% 0;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
  width: 100%;
  border: 1px solid rgb(70, 70, 209);
  align-items: center;
  i
  {
    background-color: rgb(70, 70, 209);
    border-radius: 100%;
  }
}

.service-card2:hover
{
  transform: translateY(10px);
  background-color: rgb(70, 70, 209);
  color:white;

  .read-more2, i
  {
    background-color: white;
    color:rgb(70, 70, 209)
  }
}

// ------------------------------------------------------------------------------------------------------------------------------

.service-card3
{
  
  text-align: center;
  border-radius: 5%;
  padding: 10%;
  margin: 5% 0 5% 0;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
  border: 1px solid rgb(37, 173, 37);
  align-items: center;
  i
  {
    background-color: rgb(37, 173, 37);
    border-radius: 100%;
  }
}

.service-card3:hover
{
  transform: translateY(10px);
  background-color: rgb(37, 173, 37);
  color:white;

  .read-more3, i
  {
    background-color: white;
    color:rgb(37, 173, 37)
  }
}

// ------------------------------------------------------------------------------------------------------------------------------

.service-card4
{
  
  text-align: center;
  border-radius: 5%;
  padding: 10%;
  margin: 5% 0 5% 0;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
  width: 100%;
  border: 1px solid rgb(246, 37, 37);
  align-items: center;
  i
  {
    background-color: rgb(246, 37, 37);
    border-radius: 100%;
  }
}

.service-card4:hover
{
  transform: translateY(10px);
  background-color: rgb(246, 37, 37);
  color:white;

  .read-more4, i
  {
    background-color: white;
    color:rgb(246, 37, 37)
  }
}

// ------------------------------------------------------------------------------------------------------------------------------

.service-card5
{
  
  text-align: center;
  border-radius: 5%;
  padding: 10%;
  margin: 5% 0 5% 0;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
  width: 100%;
  border: 1px solid rgb(145, 39, 207);
  align-items: center;
  i
  {
    background-color: rgb(145, 39, 207);
    border-radius: 100%;
  }
  
}

.service-card5:hover
{
 
  text-align: center;
  border-radius: 5%;
  padding: 10%;
  margin: 5% 0 5% 0;
  transform: translateY(10px);
  background-color: rgb(145, 39, 207);
  color:white;

  .read-more5, i
  {
    background-color: white;
    color:rgb(145, 39, 207)
  }
}

// ------------------------------------------------------------------------------------------------------------------------------

.service-card6
{
 
  text-align: center;
  border-radius: 5%;
  padding: 10%;
  margin: 5% 0 5% 0;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
  width: 100%;
  border: 1px solid rgb(205, 71, 71);
  align-items: center;
  i
  {
    background-color: rgb(205, 71, 71);
    border-radius: 100%;
  }
}

.service-card6:hover
{
  transform: translateY(10px);
  background-color: rgb(205, 71, 71);
  color:white;

  .read-more6, i
  {
    background-color: white;
    color:rgb(205, 71, 71)
  }
}

// ------------------------------------------------------------------------------------------------------------------------------

.service-card7
{
  
  text-align: center;
  border-radius: 5%;
  padding: 10%;
  margin: 5% 0 5% 0;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
  width: 100%;
  border: 1px solid rgb(222, 57, 23);
  align-items: center;
  i
  {
    background-color: rgb(222, 57, 23);
    border-radius: 100%;
  }
}

.service-card7:hover
{
  
  transform: translateY(10px);
  background-color: rgb(222, 57, 23);
  color:white;

  .read-more7, i 
  {
    background-color: white;
    color:rgb(222, 57, 23);
  }
}

@media (max-width:768px)
{
  .service-card1 .service-card2 .service-card3 .service-card4 .service-card5 .service-card6 .service-card7
  {
    width:100%;
  }
}

.news-card1
{
  @include service-card;
  padding-top: 0;
  padding-bottom:5px;
  text-align: left;
  h3
  {
    color:grey;
  }
}

.news-card1:hover
{
  transform: translateY(10px);
}

.news-card2
{
  @include service-card;
  padding-top: 0;
  padding-bottom:5px;
 
  text-align: left;
  h3
  {
    color:rgb(200, 39, 39);
  }
}

.news-card2:hover
{
  transform: translateY(10px);
}

.news-card3
{
  @include service-card;
  padding-top: 0;
  padding-bottom:5px;
  align-items: left;
  
  text-align: left;
  h3
  {
    color:rgb(232, 148, 232);
  }
}

.news-card3:hover
{
  transform: translateY(10px);
}