.service-card1
{
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  border: 1px solid grey;
  align-items: center;
}

.service-card1:hover
{
  transform: translateY(10px);
  background-color: grey;
  color:white;

  .read-more1
  {
    background-color: white;
    color:grey
  }
}
// ------------------------------------------------------------------------------------------------------------------------------
.service-card2
{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
  width: 100%;
  border: 1px solid rgb(70, 70, 209);
  align-items: center;
}

.service-card2:hover
{
  transform: translateY(10px);
  background-color: rgb(70, 70, 209);
  color:white;

  .read-more2
  {
    background-color: white;
    color:rgb(70, 70, 209)
  }
}

// ------------------------------------------------------------------------------------------------------------------------------

.service-card3
{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
  width: 100%;
  border: 1px solid rgb(37, 173, 37);
  align-items: center;
}

.service-card3:hover
{
  transform: translateY(10px);
  background-color: rgb(37, 173, 37);
  color:white;

  .read-more3
  {
    background-color: white;
    color:rgb(37, 173, 37)
  }
}

// ------------------------------------------------------------------------------------------------------------------------------

.service-card4
{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
  width: 100%;
  border: 1px solid rgb(246, 37, 37);
  align-items: center;
}

.service-card4:hover
{
  transform: translateY(10px);
  background-color: rgb(246, 37, 37);
  color:white;

  .read-more4
  {
    background-color: white;
    color:rgb(246, 37, 37)
  }
}

// ------------------------------------------------------------------------------------------------------------------------------

.service-card5
{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
  width: 100%;
  border: 1px solid rgb(145, 39, 207);
  align-items: center;
}

.service-card5:hover
{
  transform: translateY(10px);
  background-color: rgb(145, 39, 207);
  color:white;

  .read-more5
  {
    background-color: white;
    color:rgb(145, 39, 207)
  }
}

// ------------------------------------------------------------------------------------------------------------------------------

.service-card6
{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
  width: 100%;
  border: 1px solid rgb(205, 71, 71);
  align-items: center;
}

.service-card6:hover
{
  transform: translateY(10px);
  background-color: rgb(205, 71, 71);
  color:white;

  .read-more6
  {
    background-color: white;
    color:rgb(205, 71, 71)
  }
}

// ------------------------------------------------------------------------------------------------------------------------------

.service-card7
{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
  width: 100%;
  border: 1px solid rgb(222, 57, 23);
  align-items: center;
}

.service-card7:hover
{
  transform: translateY(10px);
  background-color: rgb(222, 57, 23);
  color:white;

  .read-more7
  {
    background-color: white;
    color:rgb(222, 57, 23)
  }
}