
//header style
@import "variables.scss";
@import "servicecards.scss";
@import "mixins.scss";
@import "buttons.scss";
.nav-btn
{
  width: $btn-width;
  height:$btn-height;
}

.review-text
{
  font-weight: bold;
  font-style: italic;
}

.review-writer
{
 opacity:0.8;
}

.dropbtn-readmore1
{
  @include dropbtn;

}

.logo
{
  display: flex;
  float:left;

}

.navbar-style
{
height:2em;
padding:25%;

}

.navflex
{
  display: flex;
}

.button {
  background-color: grey; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
 
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.email
{
  display: flex;
  flex-wrap: wrap;
}

.services
{
  display: flex;
  flex-wrap: wrap;
  margin: 0 5% 0 5%;
}

.news-image
{
  width: 100%;
  height:50%;
}

.news-footer
{
  margin: 0 5% 0 5%;
  border-top: 0.5px solid black;
}





// The container <div> - needed to position the dropdown content 
.dropdown {
  position: relative;
  display: inline-block;
}

.jumbotron-style
{
  background-image:url("../img/home-oaVs.webp");
 
}

.jumbotron-font
{
  color:white;
  font-weight:bold;
  text-align: center;
}

// Dropdown Content (Hidden by Default). Each background will be a different color, just like example site 
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

// Content inside of the dropdown, removing default link decoration and stacked vertically. Each dropdown will be a different color just like main site  
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

// Change color of dropdown links on hover 
.dropdown-content a:hover {background-color: #f1f1f1}

// On hover, displays menu. Navbar is hidden on smaller screens, so no need for on click. On focus for those hard of sight
.dropdown:hover .dropdown:focus .dropdown-content {
  display: flex;
  flex-direction: column;
}

footer
{
  width:75%;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropdown:focus .dropbtn {
  background-color: #3e8e41;
}
