/* line 4, ../Scion Projects/CSS HTML Reflections/input/servicecards.scss */
.services {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 5% 0 5%;
}

/* line 13, ../Scion Projects/CSS HTML Reflections/input/servicecards.scss */
.service-card1 {
  text-align: center;
  border-radius: 5%;
  padding: 10%;
  margin: 5% 0 5% 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  width: 100%;
  border: 1px solid grey;
  align-items: center;
}

/* line 28, ../Scion Projects/CSS HTML Reflections/input/servicecards.scss */
.service-card1:hover {
  transform: translateY(10px);
  background-color: grey;
  color: white;
}

/* line 34, ../Scion Projects/CSS HTML Reflections/input/servicecards.scss */
.service-card1:hover .read-more1 {
  background-color: white;
  color: grey;
}

/* line 41, ../Scion Projects/CSS HTML Reflections/input/servicecards.scss */
.service-card2 {
  text-align: center;
  border-radius: 5%;
  padding: 10%;
  margin: 5% 0 5% 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  border: 1px solid #4646d1;
  align-items: center;
}

/* line 56, ../Scion Projects/CSS HTML Reflections/input/servicecards.scss */
.service-card2:hover {
  transform: translateY(10px);
  background-color: #4646d1;
  color: white;
}

/* line 62, ../Scion Projects/CSS HTML Reflections/input/servicecards.scss */
.service-card2:hover .read-more2 {
  background-color: white;
  color: #4646d1;
}

/* line 71, ../Scion Projects/CSS HTML Reflections/input/servicecards.scss */
.service-card3 {
  text-align: center;
  border-radius: 5%;
  padding: 10%;
  margin: 5% 0 5% 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  border: 1px solid #25ad25;
  align-items: center;
}

/* line 86, ../Scion Projects/CSS HTML Reflections/input/servicecards.scss */
.service-card3:hover {
  transform: translateY(10px);
  background-color: #25ad25;
  color: white;
}

/* line 92, ../Scion Projects/CSS HTML Reflections/input/servicecards.scss */
.service-card3:hover .read-more3 {
  background-color: white;
  color: #25ad25;
}

/* line 101, ../Scion Projects/CSS HTML Reflections/input/servicecards.scss */
.service-card4 {
  text-align: center;
  border-radius: 5%;
  padding: 10%;
  margin: 5% 0 5% 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  border: 1px solid #f62525;
  align-items: center;
}

/* line 116, ../Scion Projects/CSS HTML Reflections/input/servicecards.scss */
.service-card4:hover {
  transform: translateY(10px);
  background-color: #f62525;
  color: white;
}

/* line 122, ../Scion Projects/CSS HTML Reflections/input/servicecards.scss */
.service-card4:hover .read-more4 {
  background-color: white;
  color: #f62525;
}

/* line 131, ../Scion Projects/CSS HTML Reflections/input/servicecards.scss */
.service-card5 {
  text-align: center;
  border-radius: 5%;
  padding: 10%;
  margin: 5% 0 5% 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  border: 1px solid #9127cf;
  align-items: center;
}

/* line 146, ../Scion Projects/CSS HTML Reflections/input/servicecards.scss */
.service-card5:hover {
  text-align: center;
  border-radius: 5%;
  padding: 10%;
  margin: 5% 0 5% 0;
  transform: translateY(10px);
  background-color: #9127cf;
  color: white;
}

/* line 157, ../Scion Projects/CSS HTML Reflections/input/servicecards.scss */
.service-card5:hover .read-more5 {
  background-color: white;
  color: #9127cf;
}

/* line 166, ../Scion Projects/CSS HTML Reflections/input/servicecards.scss */
.service-card6 {
  text-align: center;
  border-radius: 5%;
  padding: 10%;
  margin: 5% 0 5% 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  border: 1px solid #cd4747;
  align-items: center;
}

/* line 181, ../Scion Projects/CSS HTML Reflections/input/servicecards.scss */
.service-card6:hover {
  transform: translateY(10px);
  background-color: #cd4747;
  color: white;
}

/* line 187, ../Scion Projects/CSS HTML Reflections/input/servicecards.scss */
.service-card6:hover .read-more6 {
  background-color: white;
  color: #cd4747;
}

/* line 196, ../Scion Projects/CSS HTML Reflections/input/servicecards.scss */
.service-card7 {
  text-align: center;
  border-radius: 5%;
  padding: 10%;
  margin: 5% 0 5% 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  border: 1px solid #de3917;
  align-items: center;
}

/* line 211, ../Scion Projects/CSS HTML Reflections/input/servicecards.scss */
.service-card7:hover {
  transform: translateY(10px);
  background-color: #de3917;
  color: white;
}

/* line 218, ../Scion Projects/CSS HTML Reflections/input/servicecards.scss */
.service-card7:hover .read-more7 {
  background-color: white;
  color: #de3917;
}

@media (max-width: 768px) {
  /* line 227, ../Scion Projects/CSS HTML Reflections/input/servicecards.scss */
  .service-card1 .service-card2 .service-card3 .service-card4 .service-card5 .service-card6 .service-card7 {
    width: 100%;
  }
}

/* line 233, ../Scion Projects/CSS HTML Reflections/input/servicecards.scss */
.news-card1 {
  text-align: center;
  border-radius: 5%;
  padding: 10%;
  margin: 5% 0 5% 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  border: 1px solid #de3917;
  align-items: center;
  padding-top: 0;
  padding-bottom: 5px;
  text-align: left;
}

/* line 239, ../Scion Projects/CSS HTML Reflections/input/servicecards.scss */
.news-card1 h3 {
  color: grey;
}

/* line 245, ../Scion Projects/CSS HTML Reflections/input/servicecards.scss */
.news-card1:hover {
  transform: translateY(10px);
}

/* line 250, ../Scion Projects/CSS HTML Reflections/input/servicecards.scss */
.news-card2 {
  text-align: center;
  border-radius: 5%;
  padding: 10%;
  margin: 5% 0 5% 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  border: 1px solid #de3917;
  align-items: center;
  padding-top: 0;
  padding-bottom: 5px;
  text-align: left;
}

/* line 257, ../Scion Projects/CSS HTML Reflections/input/servicecards.scss */
.news-card2 h3 {
  color: #c82727;
}

/* line 263, ../Scion Projects/CSS HTML Reflections/input/servicecards.scss */
.news-card2:hover {
  transform: translateY(10px);
}

/* line 268, ../Scion Projects/CSS HTML Reflections/input/servicecards.scss */
.news-card3 {
  text-align: center;
  border-radius: 5%;
  padding: 10%;
  margin: 5% 0 5% 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  border: 1px solid #de3917;
  align-items: center;
  padding-top: 0;
  padding-bottom: 5px;
  align-items: left;
  text-align: left;
}

/* line 276, ../Scion Projects/CSS HTML Reflections/input/servicecards.scss */
.news-card3 h3 {
  color: #e894e8;
}

/* line 282, ../Scion Projects/CSS HTML Reflections/input/servicecards.scss */
.news-card3:hover {
  transform: translateY(10px);
}

/*# sourceMappingURL=servicecards.css.map */